{% extends "base.html" %}
{% block title %}References, CMB Final Project{% endblock %}

{% block content %}
<div class="page-header">
    <h1>References</h1>
    <p>Literature, databases, and tools cited or used across this website.</p>
</div>

<section class="content-section">

    <h2 id="literature">Literature</h2>

    <ol class="references-list">
        <li>Altschul S.F., Gish W., Miller W., Myers E.W., Lipman D.J. (1990). Basic local alignment search tool. <em>J. Mol. Biol.</em> 215(3):403-410. <a href="https://doi.org/10.1016/S0022-2836(05)80360-2">doi:10.1016/S0022-2836(05)80360-2</a></li>
        <li>Arora S., Nagarkar P., D'Souza J.S. (2025). Recombinant human FOXJ1 protein binds DNA, forms higher-order oligomers, has gel-shifting domains and contains intrinsically disordered regions. <em>Protein Expr. Purif.</em> 227:106622. <a href="https://doi.org/10.1016/j.pep.2024.106622">doi:10.1016/j.pep.2024.106622</a></li>
        <li>Berman H.M., Westbrook J., Feng Z., <em>et al.</em> (2000). The Protein Data Bank. <em>Nucleic Acids Res.</em> 28(1):235-242. <a href="https://doi.org/10.1093/nar/28.1.235">doi:10.1093/nar/28.1.235</a></li>
        <li>Blatt E.N., Yan X.H., Wuerker R.B., <em>et al.</em> (1999). Forkhead transcription factor HFH-4 expression is temporally related to epithelial mucociliary differentiation. <em>Am. J. Respir. Cell Mol. Biol.</em> 21(2):168-176. PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/10423398/">10423398</a></li>
        <li>Brody S.L., Yan X.H., Wuerker R.B., <em>et al.</em> (2000). Ciliogenesis and left-right axis defects in forkhead factor HFH-4-null mice. <em>Am. J. Respir. Cell Mol. Biol.</em> 23(1):45-51. PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/10873152/">10873152</a></li>
        <li>Buchan D.W.A., Jones D.T. (2019). The PSIPRED Protein Analysis Workbench: 20 years on. <em>Nucleic Acids Res.</em> 47(W1):W402-W420. <a href="https://doi.org/10.1093/nar/gkz297">doi:10.1093/nar/gkz297</a></li>
        <li>Choksi S.P., Lauter G., Roy S. (2014). Switching on cilia: transcriptional networks regulating ciliogenesis. <em>Development</em> 141(7):1427-1441. <a href="https://doi.org/10.1242/dev.074666">doi:10.1242/dev.074666</a></li>
        <li>Clevidence D.E., <em>et al.</em> (1994). Forkhead / winged-helix gene family (cited on Result 3). <em>Dev. Biol.</em> 166.</li>
        <li>Desper R., Gascuel O. (2002). Fast and accurate phylogeny reconstruction algorithms based on the minimum-evolution principle. <em>J. Comput. Biol.</em> 9(5):687-705. <a href="https://doi.org/10.1089/106652702761034136">doi:10.1089/106652702761034136</a></li>
        <li>Didon L., Zwick R.K., Chao I.W., <em>et al.</em> (2013). RFX3 modulation of FOXJ1 regulation of cilia genes in the human airway epithelium. <em>Respir. Res.</em> 14:70. <a href="https://doi.org/10.1186/1465-9921-14-70">doi:10.1186/1465-9921-14-70</a>; <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC3710277/">PMC3710277</a></li>
        <li>Dreos R., Ambrosini G., Perier R.C., Bucher P. (2015). The Eukaryotic Promoter Database: expansion of EPDnew and new promoter analysis tools. <em>Nucleic Acids Res.</em> 43(D1):D92-D96. <a href="https://doi.org/10.1093/nar/gku1111">doi:10.1093/nar/gku1111</a></li>
        <li>Gomperts B.N., Gong-Cooper X., Hackett B.P. (2004). Foxj1 regulates basal body anchoring to the cytoskeleton of ciliated pulmonary epithelial cells. <em>J. Cell Sci.</em> 117(Pt 8):1329-1337. <a href="https://doi.org/10.1242/jcs.00978">doi:10.1242/jcs.00978</a></li>
        <li>Hellman L.M., Fried M.G. (2007). Electrophoretic mobility shift assay (EMSA) for detecting protein-nucleic acid interactions. <em>Nat. Protoc.</em> 2(8):1849-1861. <a href="https://doi.org/10.1038/nprot.2007.249">doi:10.1038/nprot.2007.249</a>; <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC2757439/">PMC2757439</a></li>
        <li>Hinnebusch A.G., Ivanov I.P., Sonenberg N. (2016). Translational control by 5′-untranslated regions of eukaryotic mRNAs. <em>Science</em> 352(6292):1413-1416. <a href="https://doi.org/10.1126/science.aad9868">doi:10.1126/science.aad9868</a></li>
        <li>Jumper J., Evans R., Pritzel A., <em>et al.</em> (2021). Highly accurate protein structure prediction with AlphaFold. <em>Nature</em> 596:583-589. <a href="https://doi.org/10.1038/s41586-021-03819-2">doi:10.1038/s41586-021-03819-2</a></li>
        <li>Lu S., Wang J., Chitsaz F., <em>et al.</em> (2020). CDD/SPARCLE: the conserved domain database in 2020. <em>Nucleic Acids Res.</em> 48(D1):D265-D268. <a href="https://doi.org/10.1093/nar/gkz991">doi:10.1093/nar/gkz991</a></li>
        <li>Luscombe N.M., Greenbaum D., Gerstein M. (2001). What is bioinformatics? A proposed definition and overview of the field. <em>Methods Inf. Med.</em> 40(4):346-358. <a href="https://doi.org/10.1055/s-0038-1634098">doi:10.1055/s-0038-1634098</a></li>
        <li>Mukherjee I., Roy S., Chakrabarti S. (2019). Identification of important effector proteins in the FOXJ1 transcriptional network associated with ciliogenesis and ciliary function. <em>Front. Genet.</em> 10:23. <a href="https://doi.org/10.3389/fgene.2019.00023">doi:10.3389/fgene.2019.00023</a></li>
        <li>NCBI Resource Coordinators (2018). Database resources of the National Center for Biotechnology Information. <em>Nucleic Acids Res.</em> 46(D1):D8-D13. <a href="https://doi.org/10.1093/nar/gkx1095">doi:10.1093/nar/gkx1095</a></li>
        <li>Rego N., Koes D.R. (2022). 3Dmol.js: molecular graphics in the Jupyter notebook and beyond. <em>Nucleic Acids Res.</em> 50(W1):W39-W45. <a href="https://doi.org/10.1093/nar/gkac127">doi:10.1093/nar/gkac127</a></li>
        <li>The UniProt Consortium (2021). UniProt: the universal protein knowledgebase in 2021. <em>Nucleic Acids Res.</em> 49(D1):D480-D489. <a href="https://doi.org/10.1093/nar/dkaa1100">doi:10.1093/nar/dkaa1100</a></li>
        <li>Uhlen M., Fagerberg L., Hallström B.M., <em>et al.</em> (2015). Tissue-based map of the human proteome. <em>Science</em> 347(6220):1260419. <a href="https://doi.org/10.1126/science.1260419">doi:10.1126/science.1260419</a></li>
        <li>Varadi M., Anyango S., Deshpande M., <em>et al.</em> (2022). AlphaFold Protein Structure Database: massively expanding the structural coverage of protein-sequence space with high-accuracy models. <em>Nucleic Acids Res.</em> 50(D1):D439-D447. <a href="https://doi.org/10.1093/nar/gkab1061">doi:10.1093/nar/gkab1061</a></li>
        <li>Vij S., <em>et al.</em> (2012). Evolutionarily ancient association of the FoxJ1 transcription factor with the motile ciliogenic program. <em>PLoS Genet.</em> 8(11):e1003019. <a href="https://doi.org/10.1371/journal.pgen.1003019">doi:10.1371/journal.pgen.1003019</a></li>
        <li>Wallmeier J., Frank D., Shoemark A., <em>et al.</em> (2019). De novo mutations in <em>FOXJ1</em> result in a motile ciliopathy with hydrocephalus and randomization of left-right body asymmetry. <em>Am. J. Hum. Genet.</em> 105(5):1030-1039. <a href="https://doi.org/10.1016/j.ajhg.2019.09.022">doi:10.1016/j.ajhg.2019.09.022</a>. PMC: <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6849114/">PMC6849114</a></li>
        <li>Waterhouse A., Bertoni M., Bienert S., <em>et al.</em> (2018). SWISS-MODEL: homology modelling of protein structures and complexes. <em>Nucleic Acids Res.</em> 46(W1):W296-W303. <a href="https://doi.org/10.1093/nar/gky427">doi:10.1093/nar/gky427</a></li>
        <li>Yu X., Ng C.P., Habacher H., Roy S. (2008). Foxj1 transcription factors are master regulators of the motile ciliogenic program. <em>Nat. Genet.</em> 40:1445-1453. <a href="https://doi.org/10.1038/ng.263">doi:10.1038/ng.263</a></li>
    </ol>

    <h2 id="tools">Tools and online resources</h2>
    <p>Direct URLs for databases and software.</p>

    <h3>Homology, genome browsing, and sequence</h3>
    <ul>
        <li><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">NCBI BLAST (BLASTp)</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/gene/2302">NCBI Gene, <em>FOXJ1</em> (ID 2302)</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/nuccore/">NCBI Nucleotide (RefSeq / GenBank)</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/genome/gdv/">NCBI Genome Data Viewer</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI home portal</a></li>
        <li><a href="https://epd.epfl.ch/epd/human/">EPD / EPDnew (human promoters)</a></li>
    </ul>

    <h3>Expression, pathways, and interaction networks</h3>
    <ul>
        <li><a href="https://www.proteinatlas.org/2302-FOXJ1">Human Protein Atlas, FOXJ1</a> (also <a href="https://www.proteinatlas.org/ENSG00000129654-FOXJ1">ENSG00000129654 entry</a>)</li>
        <li><a href="https://gtexportal.org/home/gene/FOXJ1">GTEx Portal, FOXJ1</a></li>
        <li><a href="https://www.ebi.ac.uk/gxa/genes/ENSG00000129654">Expression Atlas (GXA), FOXJ1</a></li>
        <li><a href="https://reactome.org/">Reactome pathway browser</a> (e.g. <a href="https://reactome.org/PathwayBrowser/#/R-HSA-68877">R-HSA-68877</a>, <a href="https://reactome.org/PathwayBrowser/#/R-HSA-68884">R-HSA-68884</a>)</li>
        <li><a href="https://string-db.org/">STRING protein interaction networks</a></li>
        <li><a href="https://compartments.jensenlab.org/">COMPARTMENTS (subcellular localization)</a></li>
        <li><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=FOXJ1">GeneCards, FOXJ1</a></li>
    </ul>

    <h3>Protein annotation and analysis</h3>
    <ul>
        <li><a href="https://www.uniprot.org/uniprotkb/Q92949/entry">UniProtKB, human FOXJ1 (Q92949)</a></li>
        <li><a href="https://www.ebi.ac.uk/interpro/protein/reviewed/Q92949/">InterPro, Q92949</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml">NCBI Conserved Domain Database (CDD)</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid=cd20023">CDD profile cd20023 (FH_FOXJ1)</a></li>
        <li><a href="https://web.expasy.org/protparam/">ExPASy ProtParam</a> (MW, pI)</li>
        <li><a href="https://web.expasy.org/cgi-bin/compute_pi/pi_tool.pl">ExPASy Compute pI/Mw</a></li>
    </ul>

    <h3>Secondary structure and three-dimensional structure</h3>
    <ul>
        <li><a href="https://www.compbio.dundee.ac.uk/jpred4/index.html">JPred4</a></li>
        <li><a href="http://bioinf.cs.ucl.ac.uk/psipred/">PSIPRED / UCL Protein Analysis Workbench</a></li>
        <li><a href="https://swissmodel.expasy.org/">SWISS-MODEL</a> (<a href="https://swissmodel.expasy.org/interactive/556ANH/models/">project workspace 556ANH/models</a>)</li>
        <li><a href="https://alphafold.ebi.ac.uk/entry/Q92949">AlphaFold Protein Structure Database, Q92949</a></li>
        <li><a href="https://alphafoldserver.com/">AlphaFold Server</a></li>
        <li><a href="https://www.rcsb.org/">RCSB PDB (wwPDB)</a></li>
        <li><a href="https://www.rcsb.org/structure/2C6Y">PDB 2C6Y</a> (related forkhead/DNA structure)</li>
        <li><a href="https://3dmol.csb.pitt.edu/">3Dmol.js</a> (in-browser structure viewing)</li>
    </ul>

    <h3>Website delivery</h3>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML (MDN)</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS (MDN)</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript (MDN)</a></li>
        <li><a href="https://jinja.palletsprojects.com/">Jinja2 templates</a></li>
        <li><a href="https://flask.palletsprojects.com/">Flask</a></li>
        <li><a href="https://3dmol.csb.pitt.edu/build/3Dmol-min.js">3Dmol.js CDN build</a></li>
    </ul>

</section>
{% endblock %}
